body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

h2 {
  text-align: center;
  color: #38bdf8;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #020617;
  color: white;
  border: 1px solid #1e293b;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

.dashboard {
  padding: 40px;
}

.card {
  background: #020617;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}
